{% extends 'base.html.twig' %}

{% block main %}
    <article>
        <h1>
            {{ article.title }}
        </h1>
        <p>{{ article.content }}</p>
        <p style="background-color: {{ article.category.color }};">{{ article.category.title }}</p>
    </article>
{% endblock main %}
