{% extends 'base.html.twig' %}

{% block main %}
    <div class="articles-container">
        {% for article in articles %}
            <article class="article">
                <a href="{{ path('article_show', { 'id': article.id }) }}">
                    <h1>{{ article.title }}</h1>
                </a>
                <p>{{ article.content }}</p>
            </article>
        {% endfor %}
    </div>
{% endblock main %}
