<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>

<header class="header-top">
    <img class="header-top-image" src="{{ asset('assets/img/logo.jpg') }}" alt="logo super blog">

    <form action="{{ path('article_search') }}">
        <label for="q">Rechercher des articles</label>
        <input type="text" name="q">
        <input type="submit">
    </form>
</header>


<main>
    {% block main %}
    {% endblock main %}
</main>

<footer>
    Je suis le footer
</footer>
{{ encore_entry_script_tags('app') }}
</body>
</html>
