{% extends 'base.html.twig' %}

{% block main %}
    <div class="articles-container">
        {% for category in categories %}
            <article class="article">
                <h1>{{ category.title }}</h1>
                <a href="{{ path('category_show', {'id': category.id }) }}">Voir les articles de cette catégorie</a>
            </article>
        {% endfor %}
    </div>
{% endblock %}

